<!doctype html>
<html>
<head>
    <title>Race details</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Plaatsen toevoegen</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/race" class="btn btn-default btn-sm">Races page</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (places) { %>
                    <table>
                        <tr>
                            <td><b>Naam</b></td> <td><b>Adres</b></td>
                        </tr>
                    <% for(var i=0; i < places.length; i++) { %>
                        <tr>
                            <td><%= places[i].name %></td>
                            <td><%= places[i].vicinity %></td>
                            <td><form action="/race/<%= race._id %>/addplace/add/<%= places[i].place_id %>" method="post">                                    
                                    <button type="submit" class="btn btn-primary">Add</button>
                            </form></td>
                        </tr>
                    <% } %>
                    </table>
                <% } else { %>
                    Geen plaatsen gevonden die aan uw zoekopdracht voldoen.
                <% } %>

            </div>
        </div>
        
        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger">Toegevoegde plaatsen</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.google.token) { %>
                    
                <% } else { %>
                    Geen deelnemers.
                <% } %>

            </div>
        </div>

    </div>

</div>
</body>
</html>