extends layout

block content
    h1= title
    p Welcome 2 #{title}
    p= message
    div.container
        if result.length != 0
            div.item Naam: #{result.name}
        else
            div.item dit item bestaat niet
