extends layout

block content
    h1= title
    p Welcome op de deelnemers pagina
    p= message
    div.container
        if result.length != 0
            - each item in result
                div.item UserID: #{item.userID} RaceID: #{item.raceID}
        else
            div.error geen deelnemers beschikbaar