<%- include partials/_header.ejs %>
	<div class="container">
		<div class="row">
			<div class="col-lg-8" style="height:500px;">
				<div id="map"></div>
			</div>
			<div class="col-lg-4">
				<div id="detailContainer"></div>
			</div>
		</div>
		<br /><br />
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div id="controlContainer">
				</div>
			</div>
		</div>
	</div>
<%- include partials/_scripts.ejs %>
<script>
	raceId = '<%- data._id %>';
</script>
<script src="/javascripts/raceDetail.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcXuLjlvhOoDrC6as07h_1-eBXLynedHQ&callback=initUsingGoogle&libraries=places"></script>
<%- include partials/_footer.ejs %>